.my-container {
    max-width: 80%;
    margin: 0 auto;
}

.grid-row {
    grid-column-gap: 50px;
    grid-row-gap: 15px;
    // grid-template-columns: 100px 50px 100px;
    // grid-template-rows: 80px auto 80px; 
    display: grid;
}

.grid-col {
    grid-row: 1;
    @media only screen and (max-width: 420px) {}


}